<template>
  <div class="categories-body">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品分类</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="success" plain style="margin:15px 0;" @click="addCatDialogShow">添加分类</el-button>
    <el-table
      :data="tableData.result"
      style="width: 100%;margin-bottom:20px;"
      row-key="cat_id"
      :tree-props="{children:'children',hasChildren:'hasChildren'}"
    >
      <el-table-column prop="cat_name" label="分类名称" width="350"></el-table-column>
      <el-table-column prop="cat_level" label="级别" width="180" :formatter="format"></el-table-column>
      <el-table-column label="是否有效" width="350">有效</el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            circle
            size="mini"
            type="primary"
            plain
            @click="editCatDialogShow(scope.row)"
          ></el-button>
          <el-button
            icon="el-icon-delete"
            circle
            size="mini"
            type="danger"
            plain
            @click="deleteCategories(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="page.pagenum"
      :page-sizes="[5,10,15, 20,]"
      :page-size="page.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
      style="margin-top:20px;"
    ></el-pagination>
    <!-- 添加分类的dialog -->
    <el-dialog title="添加分类" :visible.sync="addCatDialog">
      <el-form :model="addCatForm">
        <el-form-item label="分类名称" :label-width="formLabelWidth">
          <el-input v-model="addCatForm.cat_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="分类" :label-width="formLabelWidth">
          <el-cascader
            v-model="checkedCatList"
            :options="goodsCatList"
            :props="{ expandTrigger: 'hover' ,value:'cat_id',label:'cat_name'}"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addCatDialog = false">取 消</el-button>
        <el-button type="primary" @click="addCategories">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 编辑分类的dialog -->
    <el-dialog title="修改商品分类" :visible.sync="editCatDialog">
      <el-form :model="editCatForm">
        <el-form-item
          label="分类名称"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入参数名称',trigger:'blur'
        }]"
        >
          <el-input v-model="editCatForm.cat_name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editCatDialog = false">取 消</el-button>
        <el-button type="primary" @click="editCatgories">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCateLists,
  deleteCategories,
  addCategories,
  editCatgories
} from "../../http/api";
export default {
  data() {
    return {
      page: {
        pagesize: 10,
        pagenum: 1
      },
      addCatForm: {
        cat_pid: "",
        cat_name: "",
        cat_level: ""
      },
      editCatForm: {
        cat_name: "",
        cat_id: ""
      },
      tableData: [],
      defaultProps: {
        children: "children",
        label: "cat_name"
      },
      checkedCatList: [],
      goodsCatList: [],
      formLabelWidth: "80px",
      addCatDialog: false,
      editCatDialog: false
    };
  },
  computed: {},
  watch: {},
  methods: {
    //   级联表
    async getGoodsCatList() {
      const res = await getCateLists({ type: 2 });
      this.goodsCatList = res.data;
    },
    handleSizeChange(num) {
      this.page.pagesize = num;
      this.getCateLists();
    },
    handleCurrentChange(num) {
      this.page.pagenum = num;
      this.getCateLists();
    },
    //分类列表
    async getCateLists() {
      let { pagesize, pagenum } = this.page;
      const res = await getCateLists({ type: 3, pagesize, pagenum });
      this.tableData = res.data;
    },
    //添加分类dialog
    addCatDialogShow() {
      this.addCatDialog = true;
      this.getGoodsCatList();
    },
    async addCategories() {
      const cat_name = this.addCatForm.cat_name;
      const cat_level = 2;
      const cat_pid = this.checkedCatList[1];
      await addCategories({ cat_name, cat_level, cat_pid });
      this.addCatDialog = false;
      this.getCateLists();
    },
    //删除分类
    deleteCategories(obj) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true
      })
        .then(async () => {
          const res = await deleteCategories(obj.cat_id);
          this.$message({
            type: "success",
            message: res.meta.msg
          });
          this.getCateLists();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    // 编辑分类名称
    editCatDialogShow(obj) {
      this.editCatDialog = true;
      this.editCatForm.cat_name = obj.cat_name;
      this.editCatForm.cat_id = obj.cat_id;
    },
    async editCatgories() {
      const { cat_id, cat_name } = this.editCatForm;
      await editCatgories({ cat_name, cat_id });
      this.editCatDialog = false;
      this.getCateLists();
    },
    //类似过滤器
    format(row) {
      let value = row.cat_level;
      if (value == 0) {
        return "一级";
      } else if (value == 1) {
        return "二级";
      } else if (value == 2) {
        return "三级";
      }
    }
  },
  created() {
    this.getCateLists();
  },
  mounted() {},
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.categories-body {
  padding: 20px;
  background: white;
}
</style>