<template>
  <div class="goods-body">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true" :model="goodsForm" class="demo-form-inline" style="margin-top:20px;">
      <el-form-item>
        <el-input v-model="query" style="width:350px">
          <el-button class="el-icon-search" type="success" slot="append" @click="queryGoods()"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="success" plain @click="toAdd">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="result.goods" border style="width: 100%">
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称" width="750"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格" width="100"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量" width="80"></el-table-column>
      <el-table-column prop="add_time" label="创建日期" width="120"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            plain
            @click="toEdit(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            plain
            @click="deleteGood(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="+goodsForm.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="+goodsForm.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
      style="margin-top:20px;"
    ></el-pagination>
  </div>
</template>

<script>
import { getGoodsList, deleteGoods } from "../../http/api";
export default {
  components: {},
  data() {
    return {
      result: {},
      goodsForm: {
        query: this.$route.query.query || "",
        pagenum: this.$route.query.query || 1,
        pagesize: this.$route.query.query || 10
      },
      formLabelWidth: "80px",
      query: this.$route.query.query || "",
    };
  },
  computed: {},
  watch: {},
  methods: {
    toAdd() {
      this.$router.push({ name: "goods-add" });
    },
    toEdit(obj) {
      localStorage.setItem("edit", JSON.stringify(obj));
      this.$router.push({ name: "goods-edit" });
    },
    handleSizeChange(num) {
      this.goodsForm.pagesize = num;
      this.getGoodsList();
    },
    handleCurrentChange(num) {
      this.goodsForm.pagenum = num;
      this.getGoodsList();
    },
    async getGoodsList() {
      if (this.$route.query.query) {
        const res = await getGoodsList(this.goodsForm);
        this.result = res.data;
      } else {
        const { pagenum, pagesize } = this.goodsForm;
        const res = await getGoodsList({ pagenum, pagesize });
        this.result = res.data;
      }
    },
    //搜索商品
    async queryGoods() {
      this.goodsForm.pagenum = 1;
      this.goodsForm.pagesize = 10;
      this.goodsForm.query = this.query;
      const res = await getGoodsList(this.goodsForm);
      this.result = res.data;
    },
    //删除
    deleteGood(obj) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true
      })
        .then(async () => {
          const res = await deleteGoods(obj.goods_id);
          // console.log(res);
          this.$message({
            type: "success",
            message: res.meta.msg
          });
          this.getGoodsList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  },
  watch: {
    goodsForm: {
      deep: true,
      handler(val) {
        this.$router.push({
          query: val
        });
      }
    }
  },
  created() {
    this.getGoodsList();
  }
};
</script>
<style lang='scss' scoped>
.goods-body {
  background: white;
  padding: 15px;
}
</style>