<template>
  <div class="goods-add">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>添加商品</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert
      title="添加商品信息"
      type="info"
      show-icon
      center
      style="margin-top:20px;"
      :closable="false"
      align-center
    ></el-alert>
    <el-steps
      :active="+currentNum"
      finish-status="success"
      align-center
      style="margin-top:15px; font-size:10px;"
    >
      <el-step title="基本信息"></el-step>
      <el-step title="商品参数"></el-step>
      <el-step title="商品属性"></el-step>
      <el-step title="商品图片"></el-step>
      <el-step title="商品内容"></el-step>
    </el-steps>
    <el-tabs :tab-position="tabPosition" v-model="currentNum">
      <el-tab-pane label="基本信息" name="1">
        <el-form
          :model="goodsInfo"
          ref="goodsForm"
          class="demo-form-inline"
          style="margin-top:20px;"
        >
          <el-form-item label="商品名称" prop="goods_name">
            <el-input
              v-model="goodsInfo.goods_name"
              style="width:100%"
              :rules="[{
            required:true,message:'请输入商品名称',trigger:'blur'
        }]"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品价格" prop="goods_price">
            <el-input
              v-model="goodsInfo.goods_price"
              style="width:100%"
              :rules="[{
            required:true,message:'请输入商品价格',trigger:'blur'
        }]"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品重量" prop="goods_weight">
            <el-input v-model="goodsInfo.goods_weight" style="width:100%" :rules="rules"></el-input>
          </el-form-item>
          <el-form-item label="商品数量" prop="goods_number">
            <el-input
              v-model="goodsInfo.goods_number"
              style="width:100%"
              :rules="[{
            required:true,message:'请输入商品数量',trigger:'blur'
        }]"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品数量">
            <el-cascader
              v-model="goodsInfo.goods_cat"
              :options="goodsCatList"
              :props="{ expandTrigger: 'hover' ,value:'cat_id',label:'cat_name'}"
            ></el-cascader>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品参数" name="2">
        <div style="margin-top: 20px" v-for="(item) in catParamsList" :key="item.attr_id">
          <h4 style="padding:10px 0;">{{item.attr_name}}</h4>
          <el-checkbox-group v-model="item.attr_vals">
            <el-checkbox
              :label="ite"
              :value="ite"
              border
              size="medium"
              v-for="(ite,ind) in item.attr_vals"
              :key="ind"
            ></el-checkbox>
          </el-checkbox-group>
        </div>
      </el-tab-pane>
      <el-tab-pane label="商品属性" name="3">
        <el-form>
          <el-form-item :label="item.attr_name" v-for="item in goodsAttr" :key="item.attr_id">
            <el-input style="width:100%" v-model="item.attr_vals"></el-input>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="商品图片" name="4">
        <el-upload
          :action="uploadURL"
          class="upload-demo"
          :file-list="fileList"
          list-type="picture"
        >
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
      </el-tab-pane>
      <el-tab-pane label="商品内容" name="5">
        <el-button type="primary" @click="AddGoods">添加商品</el-button>
        <quill-editor v-model="goodsInfo.goods_introduce"></quill-editor>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getGoodsCatList, getCatParamsList, addGoods } from "../../http/api";
import { uploadURL } from "../../http";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";

export default {
  components: {
    quillEditor
  },
  data() {
    var checkWeight = function(rule, value, callback) {
      if (!value) {
        return callback(new Error("重量不能为空"));
      }
      if (isNaN(Number(value)) || typeof Number(value) !== "number") {
        return callback(new Error("请输入数字"));
      } else {
        if (Number(value) <= 0) {
          return callback(new Error("重量大于0"));
        } else {
          callback();
        }
      }
    };
    return {
      tabPosition: "left",
      currentNum: "1",
      goodsInfo: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_cat: "",
        goods_number: "",
        goods_introduce: "",
        pics: {},
        attrs: []
      },
      rules: {
        goods_weight: [
          {
            validator: checkWeight,
            trigger: ["blur", "change"]
          }
        ]
      },
      goodsCatList: [],
      checkList: [],
      catParamsList: [],
      goodsAttr: [],
      uploadURL: uploadURL,
      fileList: [],
      headers:{"Authorization":this.$store.state.token}
    };
  },
  watch: {},
  methods: {
    //商品基本信息
    async getGoodsCatList() {
      const res = await getGoodsCatList();
      this.goodsCatList = res.data;
    },
    //商品参数
    async getCatParamsList() {
      const res = await getCatParamsList(this.goodsInfo.goods_cat[2]);
      const arr = [];
      res.data.map(item => {
        item.attr_vals = item.attr_vals.split(",");
        arr.push(item);
      });
      this.catParamsList = arr;
    },
    //商品属性
    async getGoodsAttr() {
      const res = await getCatParamsList(this.goodsInfo.goods_cat[2], "only");
      this.goodsAttr = res.data;
    },
    //添加商品
    async AddGoods() {
      await addGoods({
        ...this.goodsInfo,
        goods_cat: this.goodsInfo.goods_cat.join(","),
        goods_price:+this.goodsInfo.goods_price,
        goods_weight:+this.goodsInfo.goods_weight,
        goods_number:+this.goodsInfo.goods_number,
      });
      this.$router.replace({name:"goods"})
    }
  },
  watch: {
    "currentNum": {
      handler(val, oldval) {
        if (val === "2" && oldval === "1") {
          this.$refs["goodsForm"].validate(valid => {
            if (!valid) {
              this.$message({
                type: "warning",
                message: "请输入不填"
              });
            } else {
              this.getCatParamsList();
            }
          });
        } else if (val === "3") {
          this.getGoodsAttr();
        }
      }
    },
    "fileList": {
      deep: true,
      handler(val) {
        let arr = [];
        val.map(item => {
          let obj = { pic: item.url };
          arr.push(obj);
        });
        this.goodsInfo.pics = arr;
      }
    },
    "catParamsList": {
      deep: true,
      handler(val) {
        let arr = [];
        val.map(item => {
          let obj = {
            attr_id: item.attr_id,
            attr_value: item.attr_vals.join(",")
          };
        });
        this.goodsInfo.attrs = arr;
      }
    }
  },
  created() {
    this.getGoodsCatList();
  },
  mounted() {},
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss'>
.goods-add {
  padding: 20px;
  background: white;
  .el-step__title {
    font-size: 10px;
  }
}
</style>