<template>
  <div class="params-body">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>分类参数</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert title="注意:只允许为第三级分类设置参数" type="warning" show-icon style="margin:20px 0;"></el-alert>
    <el-form>
      <el-form-item label="请选择商品分类">
        <el-cascader
          v-model="checkedCatList"
          :options="goodsCatList"
          :props="{ expandTrigger: 'hover' ,value:'cat_id',label:'cat_name'}"
        ></el-cascader>
      </el-form-item>
    </el-form>
    <el-tabs :value="activeTab" @tab-click="tabClick">
      <el-tab-pane label="动态参数" name="many">
        <el-button type="primary" size="small" :disabled="btnStatu" @click="addParamsDialogs">设置动态参数</el-button>
        <el-table :data="manyData" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-tag
                v-for="(item,i) in scope.row.attr_vals"
                :key="i"
                closable
                type
                :disable-transitions="false"
                @close="handleClose(item,scope.$index,scope.row)"
              >{{item}}</el-tag>
              <el-input
                width="50"
                class="input-new-tag"
                v-if="scope.row.inputVisible"
                v-model="scope.row.inputValue"
                :ref="'saveTagInput'+scope.$index"
                size="small"
                @keyup.enter.native="handleInputConfirm(scope.$index,scope.row)"
                @blur="handleInputConfirm(scope.$index,scope.row)"
              ></el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="showInput(scope.$index)"
              >+ New Tag</el-button>
            </template>
          </el-table-column>
          <el-table-column label="#" width="50"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name" width="180"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                plain
                size="small"
                icon="el-icon-edit"
                @click="editParamsDialogs(scope.row)"
              ></el-button>
              <el-button
                plain
                size="small"
                type="danger"
                icon="el-icon-delete"
                @click="deleteParams(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="only">
        <el-button type="primary" size="small" :disabled="btnStatu" @click="addParamsDialogs">设置静态参数</el-button>
        <el-table :data="onlyData" style="width: 100%">
          <el-table-column label="#" type="index" width="50"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name" width="180"></el-table-column>
          <el-table-column label="属性值" prop="attr_vals" width="180"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                plain
                size="small"
                icon="el-icon-edit"
                @click="editParamsDialogs(scope.row)"
              ></el-button>
              <el-button
                plain
                size="small"
                type="danger"
                icon="el-icon-delete"
                @click="deleteParams(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <!-- 添加动态或静态参数的dialog -->
    <el-dialog title="添加参数" :visible.sync="addParamsDialog">
      <el-form :model="addparamsForm" >
        <el-form-item
          label="参数名称"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入参数名称',trigger:'blur'
        }]"
        >
          <el-input v-model="addparamsForm.attr_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          label="参数值"
          v-if="this.activeTab=='only'"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入角色名称',trigger:'blur'
        }]"
        >
          <el-input v-model="addparamsForm.goods_vals" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addParamsDialog = false">取 消</el-button>
        <el-button type="primary" @click="addParams()">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 编辑属性的dialog -->
    <el-dialog title="编辑参数" :visible.sync="editParamsDialog">
      <el-form :model="editParamsForm">
        <el-form-item
          label="属性名称"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入参数名称',trigger:'blur'
        }]"
        >
          <el-input v-model="editParamsForm.attr_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          label="属性值"
          v-if="this.activeTab=='only'"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入参数名称',trigger:'blur'
        }]"
        >
          <el-input :value="editParamsForm.attr_vals" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editParamsDialog = false">取 消</el-button>
        <el-button type="primary" @click="editParams">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getGoodsCatList,
  getCatParamsList,
  addGoodsParamsTag,
  deleteParams,
  addGoodsParams,
  editGoodsParams
} from "../../http/api";
export default {
  components: {},
  data() {
    return {
      manyData: [],
      onlyData: [],
      goodsCatList: [],
      checkedCatList: [],
      activeTab: "many",
      btnStatu: true,
      inputVisible: false,
      inputValue: "",
      addparamsForm: {
        attr_name: "",
        attr_sel: "",
        attr_vals: "",
        cat_id: ""
      },
      editParamsForm: {
        attr_name: "",
        attr_id: "",
        attr_sel: "",
        attr_vals: "",
        cat_id: ""
      },
      formLabelWidth: "80px",
      addParamsDialog: false,
      editParamsDialog: false
    };
  },
  computed: {},
  watch: {
    checkedCatList: {
      deep: true,
      async handler(val) {
        if (val.length >= 3) {
          this.btnStatu = false;
          const res = await this.getCatParamsList();
        } else {
          this.$message({
            type: "warning",
            message: "请选择三级分类参数"
          });
          this.btnStatu = true;
        }
      }
    },
    async activeTab(val) {
      if (this.checkedCatList.length >= 3) {
        const res = await this.getCatParamsList();
      } else {
        this.$message({
          type: "warning",
          message: "请选择三级分类参数"
        });
        this.btnStatu = true;
      }
    }
  },
  methods: {
    async getGoodsCatList() {
      const res = await getGoodsCatList();
      this.goodsCatList = res.data;
    },
    async getCatParamsList() {
      const res = await getCatParamsList(
        this.checkedCatList[this.checkedCatList.length - 1],
        this.activeTab
      );
      if (this.activeTab === "many") {
        const arr = [];
        res.data.map(item => {
          item.inputVisible = false;
          item.inputValue = "";
          item.attr_vals = item.attr_vals.split(",");
          arr.push(item);
        });
        this.manyData = arr;
      } else {
        this.onlyData = res.data;
      }
      return res;
    },
    //动态 静态切换
    tabClick(val) {
      this.activeTab = val.paneName;
    },
    //tag关闭
    async handleClose(item, index, obj) {
      const { attr_name, attr_id, attr_sel, attr_vals } = obj;
      const arr = JSON.parse(JSON.stringify(attr_vals));
      arr.splice(arr.indexOf(item), 1);
      const str = arr.join(",");
      const res = await addGoodsParamsTag(this.checkedCatList[2], obj.attr_id, {
        attr_name,
        attr_sel,
        attr_vals: str
      });
      this.manyData[index].attr_vals.splice(
        this.manyData[index].attr_vals.indexOf(item),
        1
      );
    },
    //newtag显示
    showInput(index) {
      this.manyData[index].inputVisible = true;
      this.$nextTick(_ => {
        this.$refs["saveTagInput" + index].$refs.input.focus();
      });
    },
    //newtag输入,添加
    async handleInputConfirm(index, obj) {
      let inputValue = this.manyData[index].inputValue;
      if (inputValue) {
        const { attr_name, attr_id, attr_sel, attr_vals } = obj;
        const arr = JSON.parse(JSON.stringify(attr_vals));
        arr.push(inputValue);
        const str = arr.join(",");
        const res = await addGoodsParamsTag(
          this.checkedCatList[2],
          obj.attr_id,
          {
            attr_name,
            attr_sel,
            attr_vals: str
          }
        );
        this.manyData[index].attr_vals.push(inputValue);
      }
      this.manyData[index].inputVisible = false;
      this.manyData[index].inputValue = "";
    },
    // 删除属性
    deleteParams(obj) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true
      })
        .then(async () => {
          const res = await deleteParams(obj.cat_id, obj.attr_id);
          this.$message({
            type: "success",
            message: res.meta.msg
          });
          this.getCatParamsList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //添加属性dialog
    addParamsDialogs() {
      this.addParamsDialog = true;
      this.addparamsForm.attr_sel = this.activeTab;
      this.addparamsForm.cat_id = this.checkedCatList[2];
    },
    //添加动态或静态属性
    async addParams() {
      let { attr_vals, attr_sel, attr_name, cat_id } = this.addparamsForm;
      if (this.activeTab === "many" && attr_vals != "") {
        attr_vals = attr_vals.join(",");
      }
      await addGoodsParams(cat_id, { attr_vals, attr_sel, attr_name });
      this.addparamsForm.attr_vals = "";
      this.addParamsDialog = false;
      this.getCatParamsList();
      //清空
      if (this.activeTab == "many") {
        this.addparamsForm.attr_name = "";
        this.addparamsForm.attr_sel = "";
        this.addparamsForm.attr_vals = "";
        this.addparamsForm.cat_id = "";
      } else {
        this.editparamsForm.attr_name = "";
        this.editparamsForm.attr_sel = "";
        this.editparamsForm.attr_vals = "";
        this.editparamsForm.cat_id = "";
        this.editParamsForm.attr_id = "";
      }
    },
    // 编辑属性dailog
    editParamsDialogs(obj) {
      this.editParamsDialog = true;
      this.editParamsForm.attr_name = obj.attr_name;
      this.editParamsForm.attr_id = obj.attr_id;
      this.editParamsForm.attr_vals = obj.attr_vals;
      this.editParamsForm.attr_sel = obj.attr_sel;
      this.editParamsForm.cat_id = obj.cat_id;
    },
    async editParams() {
      let {
        attr_id,
        attr_name,
        attr_sel,
        attr_vals,
        cat_id
      } = this.editParamsForm;
      if (this.activeTab === "many") {
        attr_vals = attr_vals.join(",");
      }
      await editGoodsParams(cat_id, attr_id, {
        attr_vals,
        attr_sel,
        attr_name
      });
      this.editParamsDialog = false;
      this.editParamsForm.attr_vals = "";
      this.getCatParamsList();
    }
  },
  created() {
    this.getGoodsCatList();
  },
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.params-body {
  padding: 20px;
  background: white;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>