<template>
  <div class="rights-body">
    <el-breadcrumb style="margin-bottom:15px" separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table :data="rightsList" stripe border style="width: 100%" height="450">
      <el-table-column label="#" type="index" width="50"></el-table-column>
      <el-table-column prop="authName" label="权限名称" width="180"></el-table-column>
      <el-table-column prop="path" label="路径" width="180"></el-table-column>
      <el-table-column prop="level" label="层级" :formatter="format"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getRightsList } from "../../http/api";
export default {
  data() {
    return {
      rightsList: []
    };
  },
  computed: {},
  watch: {},
  methods: {
    async getRightsLists(){

        const res = await getRightsList()
        // console.log(res)
        this.rightsList=res.data
    },
    format(row){
         let value = row.level
        if( value == 0){
            return '一级';
        }
        else if( value == 1){
            return '二级';
        }
        else if( value == 2){
            return '三级';
        }
    }
  },
  created() {
      this.getRightsLists()
  },
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.rights-body {
  background: white;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}
</style>