<template>
  <div class="roles-body">
    <el-breadcrumb style="margin-bottom:15px" separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button @click="addDialog">添加角色</el-button>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="(item1,index1) in scope.row.children" :key="item1.id">
            <el-col :span="4">
              <el-tag type closable @close="deleteRights(scope.row,item1.id,0,index1)">{{item1.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(item2,index2) in item1.children" :key="item2.id">
                <el-col :span="4">
                  <el-tag
                    type="success"
                    closable
                    @close="deleteRights(scope.row,item2.id,1,index1,index2)"
                  >{{item2.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="20">
                  <el-tag
                    type="warning"
                    closable
                    v-for="(item3,index3) in item2.children"
                    :key="item3.id"
                    @close="deleteRights(scope.row,item3.id,2,index1,index2,index3)"
                  >{{item3.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column label="#" type="index"></el-table-column>
      <el-table-column label="角色名称" prop="roleName" width="180"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc" width="180"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            plain
            @click="editDialogs(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            plain
            @click="deleteDialog(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small"
            plain
            @click="allotDialogs(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 添加角色的dialog -->
    <el-dialog title="添加角色" :visible.sync="rolesFormDialog">
      <el-form :model="rolesForm" ref="rolesForm">
        <el-form-item
          label="角色名称"
          prop="roleName"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入角色名称',trigger:'blur'
        }]"
        >
          <el-input v-model="rolesForm.roleName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          label="角色描述"
          prop="roleDesc"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入角色描述',trigger:'blur'
        }]"
        >
          <el-input v-model="rolesForm.roleDesc" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="rolesFormDialog = false">取 消</el-button>
        <el-button type="primary" @click="addRole">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 编辑的dialog -->
    <el-dialog title="编辑用户" :visible.sync="editDialog">
      <el-form :model="editForm">
        <el-form-item
          label="角色名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入用户名',trigger:'blur',
        }]"
        >
          <el-input v-model="editForm.roleName" autocomplete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" :label-width="formLabelWidth">
          <el-input v-model="editForm.roleDesc" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialog = false">取 消</el-button>
        <el-button type="primary" @click="editRoles">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 分配的dialog -->
    <el-dialog title="分配角色" :visible.sync="allotDialog">
      <el-tree
        :data="data"
        show-checkbox
        default-expand-all
        node-key="id"
        ref="tree"
        highlight-current
        :props="defaultProps"
      ></el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button @click="allotDialog = false">取 消</el-button>
        <el-button type="primary" @click="setRights">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getRoles,
  getRightsTree,
  setRights,
  addRoles,
  deleteRoles,
  editRoles,
  deleteRights
} from "../../http/api";
export default {
  components: {},
  data() {
    return {
      tableData: [],
      data: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      rolesForm: {
        roleName: "",
        roleDesc: ""
      },
      editForm: {
        roleName: "",
        roleDesc: "",
        id: ""
      },
      roleId: "", //角色id
      rolesFormDialog: false, //添加面板
      editDialog: false,
      allotDialog: false,
      formLabelWidth: "80px"
    };
  },
  computed: {},
  watch: {},
  methods: {
    async getRoles() {
      const res = await getRoles();
      // console.log(res);
      this.tableData = res.data;
    },
    addRole() {
      this.$refs.rolesForm.validate(async valid => {
        if (valid) {
          const res = await addRoles(this.rolesForm);
          this.$message({
            showClose: true,
            message: res.meta.msg,
            type: "success"
          });
          this.rolesFormDialog = false;
          this.$refs.rolesForm.resetFields();
          this.getRoles();
        }
      });
    },
    addDialog() {
      this.rolesFormDialog = true;
    },
    editDialogs(obj) {
      this.editDialog = true;
      // console.log(obj)
      this.editForm.roleName = obj.roleName;
      this.editForm.roleDesc = obj.roleDesc;
      this.editForm.id = obj.id;
    },
    //编辑角色
    async editRoles() {
      const { id, roleName, roleDesc } = this.editForm;
      const res = await editRoles(id, { roleName, roleDesc });
      // console.log(res);
      this.editDialog = false;
      this.getRoles();
      this.$message({
        showClose: true,
        message: res.meta.msg,
        type: "success"
      });
    },
    //删除角色
    deleteDialog(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true
      })
        .then(async () => {
          const res = await deleteRoles(id);
          // console.log(res)
          this.$message({
            type: "success",
            message: res.meta.msg
          });
          this.getRoles();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //分配权限弹窗
    async allotDialogs(obj) {
      // console.log(obj);
      this.allotDialog = true;
      await this.getRightsTree(obj);
    },
    //获取权限角色弹窗的列表tree
    async getRightsTree(obj) {
      const res = await getRightsTree();
      this.data = res.data;
      this.roleId = obj.id;
      // console.log(res);
      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(obj.children);
      });
    },
    //分配权限确定按钮
    async setRights() {
      const strRids = this.$refs.tree.getCheckedKeys().join(","); //将选中的权限id转化
      const res = await setRights(this.roleId, strRids);
      this.allotDialog = false;
      this.getRoles();
      this.$message({
        showClose: true,
        message: res.meta.msg,
        type: "success"
      });
    },
    //删除指定权限
    async deleteRights(obj,rightId,index,...arr){
      // console.log(roleId,rightId)
      const res = await deleteRights(obj.id,rightId)
      this.$message({
        showClose: true,
        message: res.meta.msg,
        type: "success"
      });
      if (index==0) {
        obj.children.splice(arr[0],1)
      }else if (index==1) {
        obj.children[arr[0]].children.splice(arr[1],1)
      }else{
        obj.children[arr[0]].children[arr[1]].children.splice(arr[2],1)
      }
    }
  },
  created() {
    this.getRoles();
  },
  mounted() {},
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.roles-body {
  background: white;
  padding: 15px;
  box-sizing: border-box;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
</style>