<template>
  <div class="index">
    <el-container style="height: 100vh;">
      <el-aside width="210px" style="background-color: #001529;">
        <el-menu
          background-color="#001529"
          text-color="#999"
          active-text-color="#fff"
          style="height:100vh;"
          :router="true"
          :default-active="defaultActive"
        >
          <h3 class="title">后台管理</h3>
          <el-submenu
            :index="'' +item.id"
            v-for="item in menus"
            :key="item.id"
            style="background-color: #001529;"
          >
            <template slot="title">
              <i v-if="item.path=='users'" class="el-icon-message"></i>
              <i v-if="item.path=='rights'" class="el-icon-message"></i>
              <i v-if="item.path=='goods'" class="el-icon-message"></i>
              <i v-if="item.path=='orders'" class="el-icon-message"></i>
              <i v-if="item.path=='reports'" class="el-icon-message"></i>
              {{item.authName}}
            </template>
            <el-menu-item
              :index="'/home/'+ite.path"
              v-for="ite in item.children"
              :key="ite.id"
            >{{ite.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px; border-bottom:1px solid #ddd;">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>
        <el-main>
          <router-view />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { getMenus } from "../http/api";
import { mapMutations } from "vuex";
export default {
  data() {
    let path = this.$route.path;
    let arr = path.split("/");
    
    if (arr.length > 3) {
      arr.splice(arr.length - 1, 1);
    }
    let str = arr.join("/");
    return {
      menus: [],
      defaultActive: str
    };
  },
  methods: {
    ...mapMutations([
      "resetState"
      //{ _resetState:"resetState"//如果重名这样解决,不重名用数组暴露}
    ]),
    getMenus() {
      return getMenus().then(res => {
        this.menus = res.data;
      });
    },
    logOut() {
      localStorage.clear();
      this.resetState();
      this.$router.push({ name: "login" });
    }
  },
  watch: {
    $route() {
      let path = this.$route.path;
      let arr = path.split("/");
      
      if (arr.length > 3) {
        arr.splice(arr.length - 1, 1);
      }
      let str = arr.join("/");
      this.defaultActive = str;
    }
  },
  created() {
    this.getMenus();
  }
};
</script>

<style lang="scss" scoped>
.title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.el-header {
  line-height: 60px;
}
.el-main {
  padding: 20px;
  background: #eee;
}
</style>