<template>
  <div class="login">
    <div class="login-wrap">
      <h4>欢迎登录</h4>
      <div class="login-form">
        <el-form
          :model="form"
          class="demo-form-inline"
          size="small"
          :rules="rules"
          ref="login-form"
        >
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" class="login-form-btn" @click="login()">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from "../http/api";
export default {
  data() {
    return {
      form: {
        username: "admin",
        password: "123456"
      },
      rules: {
        username: [{ required: true, message: "请输入用户名", trigger: "blur" }],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    login() {
      this.$refs["login-form"].validate(async valid => {
        try {
          if (valid) {
            const res = await login(this.form);
            const { token, username } = res.data
            if (token) {
              this.$message({
                showClose: true,
                message: "欢迎回来" + username,
                type: "success"
              });
            }
            this.$store.commit("setToken", token);
            this.$store.commit("setUsername", username);
            // this.setToken(token)
            // this.setUsername(username)
            this.$router.replace({ name: "home" });
          }
        } catch (error) {}
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  height: 100vh;
  width: 100%;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login-wrap {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  margin-right: 160px;
  box-sizing: border-box;
  h4 {
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
  .login-form {
    padding: 25px 15px;
  }
  .login-form-btn {
    width: 100%;
  }
}
</style>