<template>
  <div class>
    <el-breadcrumb style="margin-bottom:15px" separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      <el-breadcrumb-item>订单列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table :data="result.goods" stripe border style="width: 100%">
      <el-table-column type="index" label="#" width="50"></el-table-column>
      <el-table-column prop="order_number" label="订单编号" width="300"></el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="80"></el-table-column>
      <el-table-column prop="is_send" label="是否付款" width="100"> <el-button type="danger" plain disabled size="small">否</el-button></el-table-column>
      <el-table-column prop="is_send" label="是否发货" width="250"></el-table-column>
      <el-table-column prop="create_time" label="下单时间" width="250"></el-table-column>
      <el-table-column label="操作">
        <el-button type="primary" icon="el-icon-edit" plain size="small"></el-button>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
    ></el-pagination>
  </div>
</template>

<script>
import { getOrdersList } from "../../http/api";
export default {
  components: {},
  data() {
    return {
      result: {},
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10
      }
    };
  },
  computed: {},
  watch: {},
  methods: {
    async getOrdersList() {
      const res = await getOrdersList(this.params);
      this.result = res.data;
    },
    handleSizeChange() {},
    handleCurrentChange() {}
  },
  created() {
    this.getOrdersList();
  },
  mounted() {},
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
</style>