<template>
  <div class="user-body">
    <el-breadcrumb style="margin-bottom:15px" separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true">
      <el-form-item>
        <el-input style="width:350px" v-model="params.query" @keyup.enter.native="getUsers">
          <el-button slot="append" icon="el-icon-search" @click="getUsers"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="userFormDialog=true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="result.users" height="250" border style="width: 100%">
      <el-table-column label="#" type="index" width="50"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话" width="210"></el-table-column>
      <el-table-column prop="create_time" label="创建日期" width="208" :formatter="format"></el-table-column>
      <el-table-column prop="mg_state" label="用户状态" width="208">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="changeStatus(scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="editDialogs(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="deleteDialog(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small"
            @click="allotDialogs(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
    ></el-pagination>
    <!-- 添加用户的dialog -->
    <el-dialog title="添加用户" :visible.sync="userFormDialog">
      <el-form :model="userForm" ref="userFormDialog">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入用户名',trigger:'blur'
        }]"
        >
          <el-input v-model="userForm.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          label="密码"
          prop="password"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入密码',trigger:'blur'
        }]"
        >
          <el-input v-model="userForm.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="userForm.email" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="userForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="userFormDialog = false">取 消</el-button>
        <el-button type="primary" @click="addUsers">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 编辑的dialog -->
    <el-dialog title="编辑用户" :visible.sync="editDialog">
      <el-form :model="editForm" ref="userForm">
        <el-form-item
          label="用户名"
          prop="username"
          :label-width="formLabelWidth"
          :rules="[{
            required:true,message:'请输入用户名',trigger:'blur',
        }]"
        >
          <el-input v-model="editForm.username" autocomplete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="editForm.email" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="editForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialog = false">取 消</el-button>
        <el-button type="primary" @click="editUsers">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 分配的dialog -->
    <el-dialog title="分配角色" :visible.sync="allotDialog">
      <el-form :model="allotForm" ref="userForm">
        <el-form-item label="用户名" prop="username" :label-width="formLabelWidth">
          <el-input v-model="userForm.username" autocomplete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="角色" prop="username" :label-width="formLabelWidth">
          <template>
            <el-select v-model="allotForm.rid" placeholder="请选择">
              <el-option
                v-for="item in roles"
                :key="item.id"
                :label="item.roleName"
                :disabled="item.disabled"
                :value="item.id"
              ></el-option>
            </el-select>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="allotDialog = false">取 消</el-button>
        <el-button type="primary" @click="assignRoles">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import dayjs from "dayjs";
import {
  getUsers,
  addUsers,
  editUsers,
  getRoles,
  assignRoles,
  getRidById,
  deleteUsers,
  changeStatus
} from "../../http/api";
import { Message } from "element-ui";
import { type } from "os";
export default {
  components: {},
  data() {
    return {
      options: [],
      value: "",
      params: {
        query: "",
        pagenum: 1,
        pagesize: 2
      },
      result: {},
      userForm: {
        username: "",
        password: "",
        email: "",
        mobile: ""
      },
      editForm: {
        username: "",
        email: "",
        mobile: "",
        id: ""
      },
      allotForm: {
        username: "",
        id: "",
        rid: ""
      },
      userFormDialog: false, //添加面板
      editDialog: false,
      allotDialog: false,
      formLabelWidth: "80px",
      roles: []
    };
  },
  methods: {
    format(row) {
      let value = dayjs(row.create_time);
      return value.$y + "-" + value.$M+1 + "-" + value.$D;
    },
    async getUsers() {
      const res = await getUsers(this.params);
      this.result = res.data;
    },
    //每页显示条数
    handleSizeChange(num) {
      this.params.pagesize = num;
      this.getUsers();
    },
    //页码变化
    handleCurrentChange(num) {
      this.params.pagenum = num;
      this.getUsers();
    },
    //添加用户
    addUsers() {
      this.$refs.userFormDialog.validate(async valid => {
        try {
          if (valid) {
            const res = await addUsers(this.userForm);
            this.$message({
              showClose: true,
              message: res.meta.msg,
              type: "success"
            });
            this.userFormDialog = false;
            this.$refs.userFormDialog.resetFields();
            this.getUsers();
          }
        } catch (error) {}
      });
    },
    async _getusers() {
      const { pagenum, pagesize } = this.params;
      const res = await getUsers({
        pagenum,
        pagesize
      });
      this.result = res.data;
    },
    //编辑用户
    editDialogs(obj) {
      this.editDialog = true;
      // console.log(obj);
      this.editForm.username = obj.username;
      this.editForm.email = obj.email;
      this.editForm.mobile = obj.mobile;
      this.editForm.id = obj.id;
    },
    async editUsers() {
      try {
        const { id, email, mobile } = this.editForm;
        const res = await editUsers(id, { email, mobile });
        // console.log(res);
        this.editDialog = false;
        this.getUsers();
        this.$message({
          showClose: true,
          message: res.meta.msg,
          type: "success"
        });
        this.editDialog.resetFields();
      } catch (error) {}
    },
    //分配角色弹窗
    async allotDialogs(obj) {
      // console.log(obj);
      const { id, username } = obj;
      this.allotDialog = true;
      const { rid } = await getRidById(id);
      this.allotForm.rid = rid;
      this.allotForm.username = username;
      this.allotForm.id = id;
      const res = await getRoles();
      this.roles = res.data;
    },

    //分配角色
    async assignRoles() {
      try {
        const { id, rid } = this.allotForm;
        const res = await assignRoles(id, rid);
        // console.log(res);
        this.allotDialog = false;
        this.getUsers();
        this.$message({
          showClose: true,
          message: res.meta.msg,
          type: "success"
        });
      } catch (error) {}
    },
    //删除用户
    deleteDialog(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center: true
      })
        .then(async () => {
          const res = await deleteUsers(id);
          // console.log(res)
          this.$message({
            type: "success",
            message: res.meta.msg
          });
          this.getUsers();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //修改用户状态
    async changeStatus(obj) {
      const res = await changeStatus(obj.id, obj.mg_state);
      this.$message({
        showClose: true,
        message: res.meta.msg,
        type: "success"
      });
    }
  },
  created() {
    this.getUsers();
  },
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.user-body {
  background: white;
  padding: 15px;
}
</style>