<template>
  <div class="reports-body">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <div id="myCharts"></div>
  </div>
</template>

<script>
import { getReports } from "../../http/api";
import echarts from "echarts";
// var echarts = require("echarts");
export default {
  data() {
    return {
      chartData: {}
    };
  },
  created() {
    this.getReport();
  },
  methods: {
    async getReport() {
      const res = await getReports();
      this.chartData = res.data;
      console.log(this.chartData)
      const options = {
        tooltip: {
          //鼠标悬浮框的提示文字
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985"
            }
          }
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        // legend: this.chartData.legend,
        // xAxis: this.chartData.xAxis,
        // yAxis: this.chartData.yAxis,
        // series: this.chartData.series
      };
      this.myCharts.setOption({...options, ...this.chartData });
      window.addEventListener("resize", function() {
        this.myCharts.resize();
      });
    }
  },
  mounted() {
    // this.getReport();
    this.myCharts = echarts.init(document.getElementById("myCharts"));
  },
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
.reports-body {
  background: white;
  padding: 15px;
}
#myCharts {
  width: 800px;
  height: 500px;
  background-color: blanchedalmond;
  margin-top: 20px;
}
</style>